html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    background-color: rgba(190, 142, 214, 0.3);
    min-height: 100vh;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content {
    flex-grow: 1;
}
